<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management::Products</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">





</head>

<body>

<div class="w3-container w3-theme w3-center" style="height: 80px;" id="banner">
    <header>Inventory Management</header>
</div>

<div class="w3-container w3-light-grey">
    <nav class="w3-text-theme">
        <a th:href="@{login}">Login</a>
        <a th:href="@{index}">Forms</a>
        <a th:href="@{products}">Products</a>
        <a th:href="@{customers}">Customers</a>
        <a th:href="@{home}" class="w3-right">Home</a>
    </nav>
</div>

<!--element to get a specific product from the db-->
<!--<div class="w3-form w3-center">-->
<!--    <form action="result" method="get">-->
<!--        <label for="searchField">Search: </label>-->
<!--        <input type="text" id="searchField" title="Search Bar" placeholder="Product ID" name="id">-->
<!--        <input type="submit" value="Search" name="getProduct">-->
<!--    </form>-->


<!--    <br>-->
<!--    &lt;!&ndash; <button class="w3-button" onclick="addRow()">Add</button>-->
<!--    <button class="w3-button" onclick="removeRow()">Remove</button> &ndash;&gt;-->
<!--</div>-->

<!--will display all products on initial load, will display certain products after search command-->


<!--Products CRUD forms-->
<div class="w3-container">


    <form class="w3-container w3-form w3-left" id="addForm" action="addProduct" method="post">
        <table class="w3-table w3-theme-l2">
            <tr>
                <td><label for="productId">Product ID:</label></td>
                <td><input type="text" id="productIdField" name="id"></td>
            </tr>
            <tr>
                <td><label for="productDescField">Product Description:</label></td>
                <td><input type="text" id="productDescField" name="desc"></td>
            </tr>
            <tr>
                <td><label for="currentStockField">Current Stock:</label></td>

                <td><input type="text" id="currentStockField" name="currStock"></td>
            </tr>
            <tr>
                <td><label for="soQuantity">PO Quantity:</label></td>
                <td><input type="text" id="soQuantityField" name="soQty"></td>
            </tr>
            <tr>

                <td><label for="poQuantity">PO Quantity:</label></td>

                <td><input type="text" id="poQuantityField" name="poQty"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <input type="submit" value="Add" name="submit">
    </form>

    <form class="w3-container w3-form w3-left" id="removeForm" action="removeProduct" method="get">
        <table class="w3-table w3-theme-l2">
            <tr>
                <td><label for="removalId">Remove Product</label></td>
                <td><input type="text" placeholder="Enter Product ID" id="removalId" name="id"></td>
            </tr>
        </table>
        <input type="submit" value="Remove" name="submit">

    </form>


    <form class="w3-container w3-form w3-left" id="update" action="updateProduct" method="get">
        <table class="w3-table w3-theme-l2">
            <tr>
                <td><label for="productId">Product ID:</label></td>
                <td><input type="text" id="productId" name="id"></td>

            </tr>
            <tr>
                <td><label for="productDesc">Product Description:</label></td>
                <td><input type="text" id="productDesc" name="desc"></td>
            </tr>
            <tr>
                <td><label for="currentStock">Current Stock:</label></td>
                <td><input type="text" id="currentStock" name="currStock"></td>
            </tr>
            <tr>
                <td><label for="soQuantity">PO Quantity:</label></td>
                <td><input type="text" id="soQuantity" name="soQty"></td>
            </tr>
            <tr>

                <td><label for="poQuantity">PO Quantity:</label></td>

                <td><input type="text" id="poQuantity" name="poQty"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>

        <input type="submit" value="Update" name="submitProductUpdate">
    </form>
</div>
<br>


<!--Customer CRUD forms-->
<div class="w3-container w3-grey">
    <form class="w3-container w3-form w3-left" id="addCustomerForm" action="addCustomer" method="post">
        <table class="w3-table w3-theme-l2">
<!--            <tr>-->
<!--                <td><label for="customerIdField">Customer ID:</label></td>-->
<!--                <td><input type="number" id="customerIdField" name="customerId"></td>-->
<!--            </tr>-->
            <tr>
                <td><label for="customerFName">First Name:</label></td>
                <td><input type="text" id="customerFName" name="firstName"></td>
            </tr>
            <tr>
                <td><label for="customerLName">Last Name:</label></td>
                <td><input type="text" id="customerLName" name="lastName"></td>
            </tr>
            <tr>
                <td><label for="customerAddress">Address:</label></td>
                <td><input type="text" id="customerAddress" name="address"></td>
            </tr>
            <tr>
                <td><label for="customerPhone">Phone:</label></td>
                <td><input type="text" id="customerPhone" name="phone"></td>
            </tr>
            <tr>
                <td><label for="customerEmail">Email:</label></td>
                <td><input type="text" id="customerEmail" name="email"></td>
            </tr>
            <tr>
                <td><label for="customerStaffId">Staff ID:</label></td>
                <td><input type="number" id="customerStaffId" name="staffID"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <input type="submit" value="Add" name="submit">
    </form>


    <form class="w3-container w3-form w3-left" id="removeCustomerForm" action="removeCustomer" method="get">
        <table class="w3-table w3-theme-l2">
            <tr>
                <td><label for="customerRemovalId">Remove Customer</label></td>
                <td><input type="text" placeholder="Enter Customer ID" id="customerRemovalId" name="customerId"></td>
            </tr>
        </table>
        <input type="submit" value="Remove" name="submit">

    </form>


    <form class="w3-container w3-form w3-left" id="updateCustomerForm" action="updateCustomer" method="get">
        <table class="w3-table w3-theme-l2">
            <tr>
                <td><label for="customerIdField">Customer ID:</label></td>
                <td><input type="number" id="customerIdField" name="customerId"></td>
            </tr>
            <tr>
                <td><label for="customerFName">First Name:</label></td>
                <td><input type="text" id="customerFName" name="firstName"></td>
            </tr>
            <tr>
                <td><label for="customerLName">Last Name:</label></td>
                <td><input type="text" id="customerLName" name="lastName"></td>
            </tr>
            <tr>
                <td><label for="customerAddress">Address:</label></td>
                <td><input type="text" id="customerAddress" name="address"></td>
            </tr>
            <tr>
                <td><label for="customerPhone">Phone:</label></td>
                <td><input type="text" id="customerPhone" name="phone"></td>
            </tr>
            <tr>
                <td><label for="customerEmail">Email:</label></td>
                <td><input type="text" id="customerEmail" name="email"></td>
            </tr>
            <tr>
                <td><label for="customerStaffId">Staff ID:</label></td>
                <td><input type="number" id="customerStaffId" name="staffID"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <input type="submit" value="Update" name="submitCustomerUpdate">
    </form>
</div>

<!--Supplier CRUD forms-->


</body>

</html>